$theme-light-body-bg: var(--theme-light-body-bg);
$theme-light-content-box-bg: var(--theme-light-content-box-bg);
$theme-light-content-box-headingColor: var(
  --theme-light-content-box-headingColor
);
$theme-light-content-box-textColor: var(--theme-light-content-box-textColor);
$theme-light-button-bg: var(--theme-light-button-bg);
$theme-light-button-color: var(--theme-light-button-color);

$theme-orange-body-bg: #f4c9b7;
$theme-orange-content-box-bg: #f4dfd6;
$theme-orange-content-box-headingColor: #b64b1e;
$theme-orange-content-box-textColor: #000;
$theme-orange-button-bg: #b64b1e;
$theme-orange-button-color: #fff;

$theme-blue-body-bg: #bec7e7;
$theme-blue-content-box-bg: #d8def4;
$theme-blue-content-box-headingColor: #1e41c1;
$theme-blue-content-box-textColor: #000;
$theme-blue-button-bg: #1e41c1;
$theme-blue-button-color: #fff;
